@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.autoRecordPage {
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Serif JP', sans-serif;
  background-image: image-url("wood-texture_00007.jpg");
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    .book {
      margin: -450px 0px 0px -200px;
    }
  }

  .board {
    min-width: 600px;
    height: 710px;
    width: 600px;
    background-image: image-url("clipboard_red2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    &__title {
      font-size: 30px;
      margin: 100px 55px 100px 55px;
      position: relative;
      .robot{
        position:absolute;
        top: 0px;
        right:70px
      }
    }
    &__auto {
      padding: 0px 70px;
      .Item, .Day, .Name, .Money {
        font-size: 24px;
        margin-bottom: 3px;
        display: flex;
        justify-content: start;
        align-items: center;
        .input {
          width: 220px;
          border-radius: 5px 5px 5px 5px;
        }
        .select {
          width: 150px;
          border-radius: 5px 5px 5px 5px;
        }
        .item {
          margin-left: 20px;
        }
        .day {
          width: 70px;
          margin-left: 67px;
        }
        .name {
          margin-left: 67px;
        }
        .money {
          margin-left: 91px;
        }
        .money::placeholder {
          text-align: right;
        }
      }
      .button {
        .submit {
          margin: 15px 0px 0px 320px;
          .change {
            width: 60px;
            height: 60px;
            border:double;
            border-color:#dd0000;
            border-radius: 50%;
            background: transparent;
            font-size: 21px;
            font-family: 'Sawarabi Gothic', sans-serif;
            color: #dd0000;
            white-space: pre-line;
            word-break: break-all;
            transform: rotate(-5deg);
          }
        }
      }
    }
    &__return {
      padding: 140px 0px 0px 240px;
      .return {
        width: 225px;
        height: 40px;
        font-size: 25px;
        color: black;
        text-decoration: none;
        background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #333333 100%);
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .pen {
      margin: -320px 0px 0px -50px;
    }
    .hanko {
      margin: -200px 0px 0px -50px;
    }
  }
}
