@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

table {
  background-color: #f3f3f3;
  border: thin;
  font-family: 'Sawarabi Gothic', sans-serif;
}
th {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 5px;
  border: solid 1px;  
}
td {
  padding: 0px 5px;
  border: solid 1px;
}

.autoRecordDeletePage {
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Serif JP', sans-serif;
  background-image: image-url("wood-texture_00007.jpg");
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    .book {
      margin: -450px 0px 0px -200px;
    }
  }

  .board {
    min-width: 600px;
    height: 710px;
    width: 600px;
    background-image: image-url("clipboard_red2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    &__title {
      font-size: 30px;
      margin: 100px 55px 100px 55px;
      position: relative;
      .robot{
        position:absolute;
        top: 0px;
        right:70px
      }
    }
    &__auto {
      height: 240px;
      padding: 0px 50px;
      .message {
        font-size: 30px;
        padding-left: 80px;
      }
      .table {
        .num {
          text-align: right;
        }
      }
      .button {
        .submit {
          margin: 15px 0px 0px 320px;
          .change {
            width: 60px;
            height: 60px;
            border:double;
            border-color:#dd0000;
            border-radius: 50%;
            background: transparent;
            font-size: 21px;
            font-family: 'Sawarabi Gothic', sans-serif;
            color: #dd0000;
            white-space: pre-line;
            word-break: break-all;
            transform: rotate(-5deg);
          }
        }
      }
    }
    &__links {
      padding: 140px 0px 0px 80px;
      display: flex;
      justify-content: start;
      &__return, &__create {
        .return, .create {
          width: 225px;
          height: 40px;
          font-size: 25px;
          color: black;
          text-decoration: none;
          background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #333333 100%);
        }
        .create {
          margin-right: 50px;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .pen {
      margin: -320px 0px 0px -50px;
    }
    .hanko {
      margin: -200px 0px 0px -50px;
    }
  }
}
