.west
  .west__header
    = link_to image_tag(src="west3.png", size: "700x600"), west_mountain_book_path(current_user), class: "image"
    = link_to image_tag(src="character.png", size: "100x100"), root_path, class: "character"