@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.userPage {
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Serif JP', sans-serif;
  background-image: url(wood-texture_00007.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  .board {
    min-width: 600px;
    height: 710px;
    width: 600px;
    background-image: url(clipboard_red2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 200px;
    &__title {
      font-size: 30px;
      margin: 100px 55px 100px 55px;
    }
    &__form {
      padding: 0px 70px;
      .name, .mail {
        font-size: 25px;
        .input {
          width: 280px;
          border-radius: 5px 5px 5px 5px;
          margin-left: 20px;
        }
        .email {
          margin-left: 21px;
        }
      }
      .mail {
        margin: 10px 0px 0px 0px;
      }
      .button {
        font-size: 22px;
        margin: 30px 0px 0px 280px;
      }
    }
    &__return {
      padding: 200px 0px 0px 240px;
      .return {
        width: 225px;
        height: 40px;
        font-size: 25px;
        color: black;
        text-decoration: none;
        background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #333333 100%);
      }
    }
  }
  .pen {
    margin: -350px 0px 0px -50px;
  }
}
