@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.display {
  height: 100vh;
  width: 100vw;
  background-image: url(wood-texture_00007.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  .graph {
    width: 1190px;
    &__back {
      background-image: url(clipboard_red1.png);
      background-repeat: no-repeat;
      background-size: contain;
      &__line {
        padding: 50px 50px 50px 138px;
        .canvas {
          background-color:rgba(255,255,255,0.5);
        }
        .button {
          display: flex;
          justify-content: end;
          .graph-button {
            font-size: 25px;
            color: black;
            font-family: 'Noto Serif JP', sans-serif;
            text-decoration: none;
            background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #333333 100%);
            margin-left: 800px;
          }
        }
      }
    }
  }

  
  
}

