@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "books/books";
@import "books/graphs";
@import "books/west_mountain";
@import "users/edit";
@import "users/login";
@import "users/signup";
@import "lists/list";
@import "autoRecords/auto_record";

.notifications {
  color: white;
  text-align: center;
  .notice {
    background-color: #3CCACE;
  }
  .alert, .error {
    background-color: red;
  }
}