@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

.editPage {
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Serif JP', sans-serif;
  background-image: image-url("wood-texture_00007.jpg");
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    .book {
      margin: -450px 0px 0px -200px;
    }
  }

  .board {
    min-width: 600px;
    height: 710px;
    width: 600px;
    background-image: image-url("clipboard_red2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    &__title {
      font-size: 30px;
      margin: 100px 55px 100px 55px;
    }
    &__form-edit {
      padding: 0px 70px;
      .name, .mail, .target {
        font-size: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        .label-target {
          font-size: 22px;
        }
        .input {
          width: 280px;
          border-radius: 5px 5px 5px 5px;
        }
        .name {
          margin-left: 42px;
        }
        .email {
          margin-left: 43px;
        }
        .target {
          margin-left: 25px;
        }
      }
      .name {
        margin-bottom: 2px;
      }
      .mail {
        margin-bottom: 5px;
      }
      .button {
        .message {
          font-size: 15px;
          color: red;
        }
        .submit {
          margin: 15px 0px 0px 250px;
          width: 150px;
          height: 150px;
          font-size: 25px;
          font-family: 'Sawarabi Gothic', sans-serif;
          color: #dd0000;
          border: double;
          border-color:#dd0000;
          border-radius: 50%;
          background: transparent;
          transform: rotate(5deg);
          //word-break: break-all;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          hr {
            width: 96%;
            margin: 0;
            border-color: #f00;
          }
          .change {
            border: none;
            background: none;
            color: #dd0000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: transparent;
            padding-top: 80px;
          }
          .submit_topArea {
            width: 100%;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .submit_top, .submit_center, hr {
            }
          }
        }
      }
    }
    &__return {
      padding: 75px 0px 0px 240px;
      .return {
        width: 225px;
        height: 40px;
        font-size: 25px;
        color: black;
        text-decoration: none;
        background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #333333 100%);
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .pen {
      margin: -320px 0px 0px -50px;
    }
    .hanko {
      margin: -200px 0px 0px -50px;
    }
  }
}
